.App {
  text-align: center;
  /* Background pattern from Toptal Subtle Patterns */
  background-image: url(resources/white-waves.png);
}

.Gallery {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-around;
  padding: 20px;
}

.GalleryImg {
  width: 350px;
  height: 200px;
  border-radius: 30px;
  padding: 15px;
}