.App {
  text-align: center;
  /* Background pattern from Toptal Subtle Patterns */
  background-image: url(resources/country-quilt-dark.png);
}

.Gallery {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-around;
  padding: 20px;
}

.GalleryImg {
  width: 350px;
  height: 200px;
  border-radius: 20px;
  margin: 30px;
  opacity: 0.6;
  -webkit-transition: box-shadow 0.3s ease;
  -moz-transition: box-shadow 0.3s ease;
  -o-transition: box-shadow 0.3s ease;
  transition: box-shadow 0.3s ease;
}

.GalleryImg:hover {
  cursor: pointer;
  opacity: 1.0;
  box-shadow: 0 0 250px orangered;
}

.VideoPlayer {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.Overlay {
  position: fixed;
  height: 100%;
  width: 100%;
  z-index: 10;
  background-color: rgb(0, 0, 0, 0.9);
}

.Overlay:hover {
  cursor: pointer;
}